body {

  background-color: midnightblue;

  font-family: 'Times New Roman', Times, serif;

  font-size: 12;

  color: floralwhite;

}

.pagehead {

  text-align: center;

}

.subhead {

  text-align: center;

}

.link {

  color: navajowhite;

  text-decoration: none;

}

.logoimg {

  align-self: center;

}

h6 {

  text-align: center;

}

.footer {

  text-align: left;

  text-decoration: none;

  color: darkcyan;

  background-color: darkblue;

  height: 375px;

  border-color: black;

}

.flink {

  text-decoration: none;

  color: darkcyan;

}

.fdiv {

  background-color: cadetblue;

  width: 75%;

}

.fhead {

  font-size: +25px;

  color: black;

  text-decoration: none;

}

.fd {

  width: 35%;

  margin-left: -10px;

}

.docdiv {

  width: 65%;

}

